body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
h3{
    font-weight: 700;
}

.img {
    height: 250px;
    border-radius: 15px;
    top: 1px;
    margin-bottom: 5px;
}
.div
{
    background-color: hsl(0, 0%, 100%);
    width: 280px;
    height: 405px;
    margin-left: 600px;
    margin-top: 150px;
    border-radius: 15px;
    padding-top: 10px;
}
p{
    font-weight: 400;
}
.head{
    font-weight: 700;
    line-height: 25%;
    margin-bottom: 20px;
}
.tail
{
    font-weight: lighter;
    line-height: 20%;
    font-size: 15px;
}
.tails
{
    font-weight: lighter;
    line-height: 20%;
    font-size: 15px;
    margin-top: 30px;
}